[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AOSNP-Gerrit
[access "refs/for/refs/*"]
	read = group user/AOSNP-Gerrit
	push = group user/AOSNP-Gerrit
	label-Code-Review = -2..+2 group user/AOSNP-Gerrit
	label-Verified = -1..+1 group user/AOSNP-Gerrit
	rebase = group user/AOSNP-Gerrit
	removeReviewer = group user/AOSNP-Gerrit
	submit = group user/AOSNP-Gerrit
[access "refs/heads/*"]
	read = group user/AOSNP-Gerrit
	create = group user/AOSNP-Gerrit
	push = +force group user/AOSNP-Gerrit
	pushMerge = group user/AOSNP-Gerrit
[access "refs/tags/*"]
	push = group user/AOSNP-Gerrit
	push = +force group user/AOSNP-Gerrit
[submit]
	action = rebase if necessary
